.r_hn_i_d_b,
.r_hn_i_d_b_m {
  height: 50px !important;
  width: auto;
  margin: 0px;
  display: grid;

  padding-left: 10px;
  padding-right: 10px;

  user-select: none;

  grid-template-rows: auto max-content;

  align-content: center;
  align-items: center;
  text-align: center;

  color: var(--ts_ui_blk_1);
}

.r_hn_i_d_i {
  height: 30px;
  width: 30px;

  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--ts_ui_blk_1);
}

.r_hn_i_d_b_s {
  background-color: var(--ts_ui_blk_4);
}
.r_hn_i_d_b_s:hover {
  animation: r_hn_i_d_b_s_h 0.25s forwards;
}
.r_hn_i_d_b_us:hover {
  animation: r_hn_i_d_b_us_h 0.25s forwards;
}

.r_hn_i_d_b_a_s {
  background-color: var(--ts_ui_blk_4);
}
.r_hn_i_d_b_a_s:hover {
  animation: r_hn_i_d_b_a_s_h 0.25s forwards;
}

.r_hn_i_d_b_a_us:hover {
  animation: r_hn_i_d_b_a_us_h 0.25s forwards;
}

@keyframes r_hn_i_d_b_us_h {
  0% {
    background-color: #ffffff00;
  }

  100% {
    background-color: var(--ts_ui_blk_5);
    box-shadow: var(--ts_ui_blk_3) 0px 0px 3px;
  }
}

@keyframes r_hn_i_d_b_s_h {
  0% {
    background-color: var(--ts_ui_blk_3);
  }

  100% {
    background-color: var(--ts_ui_blk_4);
    box-shadow: var(--ts_ui_blk_3) 0px 0px 3px;
  }
}

@keyframes r_hn_i_d_b_a_s_h {
  0% {
    background-color: var(--ts_ui_blk_3);
  }

  100% {
    background-color: var(--ts_ui_blk_4);
    box-shadow: var(--ts_ui_blk_3) 0px 0px 3px;
  }
}

@keyframes r_hn_i_d_b_a_us_h {
  0% {
    background-color: #ffffff00;
  }

  100% {
    background-color: var(--ts_ui_blk_5);
    box-shadow: var(--ts_ui_blk_3) 0px 0px 3px;
  }
}
