.r_n_c_b {
  position: fixed;

  width: 100%;
  height: 100vh;

  z-index: var(--ts_ui_major_base_zindex);

  overflow-y: auto;
  overflow-x: hidden;

  animation: r_n_c_b_in 0.25s forwards;
}

.r_n_c_e {
  height: 50px;
  width: 100%;
}

.r_n_c_c {
  height: calc(100vh - 50px);
  width: 100%;
}

@keyframes r_n_c_b_in {
  0% {
    transform: translate3d(0, -100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
